.contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: font_fortezza;
    margin-top: 10vh;
    padding-bottom: 5vh;
}
.behance_block_contacts p{
    font-size: 2vw;
}
.item_contacts{
    margin-top: 5vh;
}
.title_contacts{
    font-size: 5vw;
    padding: 15px;
}
.text_container_box_contacts{
    width: 90%;
    margin: 0 auto;
}
.social_media_contacts{
    display: flex;
    flex-direction: row;
}
.text_container_box_contacts a{
    color: white;
    text-decoration: none;
}
.container_text_contacts{
    width: 100%;
}
.title_social_contacts{
    letter-spacing: 3px;
}
.social_media_title_contacts{
    font-size: 2vw;
}
.box_container_social_m_contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
}
.logo_social_contacts{
    width: 4vw;
    height: 4vw;
    display: flex;
}
.logo_social_contacts a{
    display: flex;
    margin: 0 auto;
}
.logo_social_contacts .bi-instagram{
    font-size: 3vw;
    margin: 0 auto;
}
.logo_social_contacts .bi-facebook{
    font-size: 3vw;
    margin: 0 auto;
}
.logo_social_contacts .bi-behance{
    font-size: 3vw;
    margin: 0 auto;
}
.vk_img_contacts{
    width: 3vw;
    height: 3vw;
    background-image: url(".././images/vk.png");
    background-size: cover;
}
.container_phone_contacts{
    display: flex;
    flex-direction: column;
}
.item_phone_contact{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.item_phone_contact .bi-telephone-fill{
    color: white;
    font-size: 1.5vw;
}
.item_phone_contact .bi-envelope-fill{
    color: white;
    font-size: 1.5vw;
}
.item_phone_contact a{
    margin-left: .6vw;
    font-size: 1.5vw;
}
/*FOR MOBILE PHONES*/
@media screen and (max-width: 770px) and (max-height: 1080px){
    .contact{
        margin-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .title_contacts{
        font-size: 7vw;
        text-align: center;
    }
    .behance_block_contacts p{
        font-size: 5vw;
    }
    .behance_block_contacts a{
        font-size: 2.5vw;
        padding: 15px 0 15px 0;
    }
    .social_media_title_contacts{
        font-size: 5vw;
    }
    .title_social_contacts{
        font-size: 3vw;
        margin-left: 2vw;
    }
    .logo_social_contacts .bi-instagram{
        font-size: 7vw;
    }
    .logo_social_contacts .bi-facebook{
        font-size: 7vw;
    }
    .logo_social_contacts .bi-behance{
        font-size: 7vw;
    }
    .vk_img_contacts{
        width: 7vw;
        height: 7vw;
    }
    .logo_social_contacts{
        width: 8vw;
        height: 8vw;
        text-align: center;
    }
    .social_media_contacts{
        flex-direction: column;
        margin-top: 2vh;
    }
    .box_container_social_m_contacts{
        flex-direction: row;
        margin-left: 0;
        margin-top: 1vh;
    }
    .item_phone_contact .bi-telephone-fill{
        color: white;
        font-size: 4vw;
    }
    .item_phone_contact .bi-envelope-fill{
        color: white;
        font-size: 4vw;
    }
    .item_phone_contact a{
        margin-left: .6vw;
        font-size: 4vw;
    }
    .container_phone_contacts{
        margin-top: 0;
    }
}
/*FOR TABS*/
@media screen and (min-width: 700px) and (max-width: 1100px) and (max-height: 1400px){
    .contact{
        margin-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .title_contacts{
        font-size: 7vw;
        text-align: center;
    }
    .behance_block_contacts p{
        font-size: 5vw;
    }
    .behance_block_contacts a{
        font-size: 2.5vw;
        padding: 15px 0 15px 0;
    }
    .social_media_title_contacts{
        font-size: 5vw;
    }
    .title_social_contacts{
        font-size: 3vw;
        margin-left: 2vw;
    }
    .logo_social_contacts .bi-instagram{
        font-size: 7vw;
    }
    .logo_social_contacts .bi-facebook{
        font-size: 7vw;
    }
    .logo_social_contacts .bi-behance{
        font-size: 7vw;
    }
    .vk_img_contacts{
        width: 7vw;
        height: 7vw;
    }
    .logo_social_contacts{
        width: 8vw;
        height: 8vw;
        text-align: center;
    }
    .social_media_contacts{
        flex-direction: column;
        margin-top: 2vh;
    }
    .box_container_social_m_contacts{
        flex-direction: row;
        margin-left: 0;
        margin-top: 1vh;
    }
    .item_phone_contact .bi-telephone-fill{
        color: white;
        font-size: 4vw;
    }
    .item_phone_contact .bi-envelope-fill{
        color: white;
        font-size: 4vw;
    }
    .item_phone_contact a{
        margin-left: .6vw;
        font-size: 4vw;
    }
    .container_phone_contacts{
        margin-top: 0;
    }
}