body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #1e1816;
}
*{
    box-sizing: border-box;
}
.secret_lines_box{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url(".././images/back_lines.png");
    background-size: 100%;
    z-index: -1;
    opacity: 0.4;
}
.gallery_information{
    letter-spacing: 2px;
    font-style: normal;
}
