footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    font-family: font_fortezza;
    padding-bottom: 5vh;
}
footer a{
    text-decoration: none;
    color: white;
}
.licens_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.container_logo_footer{
    width: 15vw;
    margin-top: 2vh;
}
.container_logo_footer img{
    width: 100%;
}
/*FOR MOBILE PHONES*/
@media screen and (max-width: 770px) and (max-height: 1080px){
    footer{
        text-align: center;
    }
    .container_logo_footer{
        width: 50vw;
    }
}
/*FOR TABS*/
@media screen and (min-width: 700px) and (max-width: 1100px) and (max-height: 1400px){
    footer{
        text-align: center;
        font-size: 3vw;
    }
    .container_logo_footer{
        width: 50vw;
    }
    footer a img{
        width: 20vw;
    }
}