.popup_1, .popup_2, .popup_3{
    width: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.popup_1.active, .popup_2.active, .popup_3.active{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
}
.popup_1_container{
    display: flex;
    width: 100%;
}
.popup_1_body{
    margin: auto;
    max-width: 95%;
    max-height: 95%;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    font-family: font_fortezza;
}
.popup_1_gallery{
    position: relative;
    padding: 25px 0;
}
.box:hover{
    z-index: 101;
}
.popup_1_close{
    padding: 15px;
    cursor: pointer;
    letter-spacing: 3px;
    color: black;
}