.second_page {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 5vw; }

.title_gallery_block {
  margin-top: 5vw;
  width: 28vw;
  text-align: center;
  font-family: font_fortezza;
  color: white; }

.title_gallery_block h2 {
  font-size: 5vw;
  margin: 2vw;
  cursor: default; }

.title_gallery_block h5 {
  font-size: 2vw;
  margin: 1.4vw;
  cursor: default; }

.gallery_blocks_images {
  width: 68vw;
  height: 48vw;
  overflow: hidden; }

.gallery_block_slider_1 {
  width: 68vw;
  height: 45vw;
  margin-top: 5%;
  overflow: hidden;
  margin-bottom: 3vw; }

.gallery_block_slider_2, .gallery_block_slider_3, .gallery_block_slider_4, .gallery_block_slider_5 {
  width: 68vw;
  height: 45vw;
  margin-top: 0;
  margin-bottom: 3vw;
  overflow: hidden; }

.block_side_img_gallery {
  width: 66vw;
  height: 21vw;
  margin: 1vw auto;
  display: flex; }

.img_block_gallery {
  cursor: pointer;
  width: 30vw;
  height: 18vw;
  background-color: #9c09cc;
  margin: 2vw auto;
  border-radius: 25px;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }
  .img_block_gallery:hover {
    -webkit-box-shadow: 0px 0px 10px 2px #d70c05;
    -moz-box-shadow: 0px 0px 10px 2px #d70c05;
    box-shadow: 0px 0px 10px 2px #d70c05;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07); }
  .img_block_gallery:hover .secret_block_gallery {
    opacity: 1; }

.secret_block_gallery {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  border-radius: 25px;
  opacity: 0;
  color: white;
  display: flex;
  font-family: font_fortezza;
  letter-spacing: 2px;
  font-size: 1.5vw;
  text-align: center;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

.text_hover {
  margin: 25% auto;
  letter-spacing: 3px; }

.gallery_block_img1 {
  background-image: url(".././gallery/miami/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img2 {
  background-image: url(".././gallery/2_los-angeles/7.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img3 {
  background-image: url(".././gallery/3_office_miami/2.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img4 {
  background-image: url(".././gallery/4_banya/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img5 {
  background-image: url(".././gallery/5_kidsroom/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img6 {
  background-image: url(".././gallery/6_miami_bath/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img7 {
  background-image: url(".././gallery/7_miami_study/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img8 {
  background-image: url(".././gallery/8_winter_summer/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img9 {
  background-image: url(".././gallery/9_resident_moscow/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img10 {
  background-image: url(".././gallery/10_res_moscow/1.jpg");
  background-size: cover;
  background-position: top; }

.gallery_block_img11 {
  background-image: url(".././gallery/11_luxury/1.jpg");
  background-size: cover;
  background-position: bottom; }

.gallery_block_img12 {
  background-image: url(".././gallery/12_small_house/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img13 {
  background-image: url(".././gallery/13_old_cuple/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img14 {
  background-image: url(".././gallery/14_downtown_house/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img15 {
  background-image: url(".././gallery/15_country_house/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img16 {
  background-image: url(".././gallery/16_magelan/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img17 {
  background-image: url(".././gallery/17_flat/1.jpg");
  background-size: cover;
  background-position: center; }

.gallery_block_img18 {
  background-image: url(".././gallery/18_cats/1.jpg");
  background-size: cover;
  background-position: center; }

.back_img {
  width: 45%;
  position: absolute;
  left: 5vw;
  top: 105vh;
  z-index: -1;
  opacity: 0.1; }

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5vw;
  height: 25vw;
  margin: 11.5vw -2vw;
  font-family: font_fortezza; }

.butt {
  width: 2vw;
  height: 2vw;
  background-color: #ffffff;
  border-radius: 25px; }

label:nth-child(2) {
  margin-top: 7vw; }

label:nth-child(3) {
  margin-top: 14vw; }

label:nth-child(4) {
  margin-top: 21vw; }

label:nth-child(5) {
  margin-top: 28vw; }

input[name='b'] {
  position: absolute;
  visibility: hidden; }

.button_number {
  position: relative;
  top: 0.1vw;
  left: 2.3vw;
  font-size: 1.6vw; }

#b1:checked ~ .buttons label:nth-child(1) {
  background-color: #e04a0f;
  color: white;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b1:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
  margin-top: 5%;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b2:checked ~ .buttons label:nth-child(2) {
  background-color: #e04a0f;
  color: white;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b2:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
  margin-top: -45vw;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b3:checked ~ .buttons label:nth-child(3) {
  background-color: #e04a0f;
  color: white;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b3:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
  margin-top: -93vw;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b4:checked ~ .buttons label:nth-child(4) {
  background-color: #e04a0f;
  color: white;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b4:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
  margin-top: -141vw;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b5:checked ~ .buttons label:nth-child(5) {
  background-color: #e04a0f;
  color: white;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

#b5:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
  margin-top: -189vw;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -webkit-transition: 0.3s linear; }

/*FOR MOBILE PHONES*/
@media screen and (max-width: 770px) and (max-height: 1080px) {
  .second_page {
    flex-direction: column; }
  .title_gallery_block {
    width: 100%; }
  .title_gallery_block h2 {
    font-size: 8vw; }
  .title_gallery_block h5 {
    font-size: 3.5vw; }
  .gallery_blocks_images {
    width: 100%;
    height: 70vw; }
  .gallery_block_slider_1 {
    width: 100vw;
    height: 100%; }
  .gallery_block_slider_2, .gallery_block_slider_3, .gallery_block_slider_4, .gallery_block_slider_5 {
    width: 100vw;
    height: 100%; }
  .block_side_img_gallery {
    width: 100vw;
    height: 30vw; }
  .img_block_gallery {
    width: 45vw;
    height: 28vw; }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 7vw;
    margin-top: 3vw;
    margin-bottom: 0;
    margin-left: 5vw; }
  .butt {
    width: 4vw;
    height: 4vw; }
  .button_number {
    position: relative;
    top: 2vw;
    left: 4vw;
    font-size: 4vw; }
  label:nth-child(1) {
    margin-left: 0; }
  label:nth-child(2) {
    margin-top: 0;
    margin-left: 10vw; }
  label:nth-child(3) {
    margin-top: 0;
    margin-left: 20vw; }
  label:nth-child(4) {
    margin-top: 0;
    margin-left: 30vw; }
  label:nth-child(5) {
    margin-top: 0;
    margin-left: 40vw; }
  #b1:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: 0;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b2:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -73vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b3:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -145vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b4:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -220vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b5:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -290vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  .text_hover {
    font-size: 3.1vw; } }

/*FOR TABS*/
@media screen and (min-width: 700px) and (max-width: 1100px) and (max-height: 1400px) {
  .second_page {
    flex-direction: column; }
  .title_gallery_block {
    width: 100%; }
  .title_gallery_block h2 {
    font-size: 8vw; }
  .title_gallery_block h5 {
    font-size: 3.5vw; }
  .gallery_blocks_images {
    width: 100%;
    height: 70vw; }
  .gallery_block_slider_1 {
    width: 100vw;
    height: 100%; }
  .gallery_block_slider_2, .gallery_block_slider_3, .gallery_block_slider_4, .gallery_block_slider_5 {
    width: 100vw;
    height: 100%; }
  .block_side_img_gallery {
    width: 100vw;
    height: 30vw; }
  .img_block_gallery {
    width: 45vw;
    height: 28vw; }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 7vw;
    margin-top: 3vw;
    margin-bottom: 0;
    margin-left: 5vw; }
  .butt {
    width: 4vw;
    height: 4vw; }
  .button_number {
    position: relative;
    top: 2vw;
    left: 4vw;
    font-size: 4vw; }
  label:nth-child(1) {
    margin-left: 0; }
  label:nth-child(2) {
    margin-top: 0;
    margin-left: 10vw; }
  label:nth-child(3) {
    margin-top: 0;
    margin-left: 20vw; }
  label:nth-child(4) {
    margin-top: 0;
    margin-left: 30vw; }
  label:nth-child(5) {
    margin-top: 0;
    margin-left: 40vw; }
  #b1:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: 0;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b2:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -73vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b3:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -145vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b4:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -220vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; }
  #b5:checked ~ .gallery_blocks_images .gallery_block_slider_1 {
    margin-top: -290vw;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -webkit-transition: 0.3s linear; } }
